html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  font-size: 14px;
  font-family: 'Times New Roman';
}

#root {
  width: 700px;
}

#previewer {
  margin: 5px;
}
#previewer #large {
  width: 490px;
}
#previewer #large h1 {
  padding: 20px;
  padding-bottom: 5px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
#previewer #large img {
  margin: 15px;
  border-radius: 5px;
  border: 2px solid #999;
}
#previewer #list {
  position: absolute;
  top: 5px;
  left: 500px;
  width: 200px;
  text-align: center;
}
#previewer #list .title {
  font-size: 1.5em;
  font-weight: bold;
  display: block;
  margin: 5px;
}
#previewer #list button {
  border: 2px #999 solid;
  border-radius: 5px;
  padding: 15px 35px;
  margin: 0;
  background: #ccc;
}
#previewer #list button:hover {
  background: #eee;
}
#previewer #list ul {
  font-weight: bold;
  overflow: scroll;
  height: 310px;
}
#previewer #list ul li {
  margin: 5px;
  border-bottom: 2px solid #999;
}
#previewer #list ul li:hover {
  text-decoration: underline;
}
#previewer #list ul li strong {
  display: block;
  padding: 5px;
}
#previewer #list ul li.current {
  background: #CCC;
  border-radius: 5px;
}
#previewer #list ul li.current img {
  width: 65px;
}
#previewer #list ul li img {
  margin: 5px;
  border-radius: 5px;
}
#previewer div {
  border: 2px solid #999;
}
